.page {
    font-family: Segoe UI, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    background: linear-gradient(180deg, rgba(128, 171, 255, 0.34) 0%, rgba(128, 171, 255, 0) 155.44%);
    padding-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding-bottom: 50px;
}

.header_text_block {
    width: 30%;
}

.header_header {
    font-family: Segoe UI, serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0;
}

.header_description {
    font-family: Segoe UI, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0;
}

.header_img {
    height: 450px;
}

.edit {
    display: flex;
    gap: 32px;
    padding: 32px;
}

.scheme_board {
    width: 60%;
    min-height: 700px;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E5E5E5;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 256px;
}

.dynamic_arrow_endpoint {
    visibility: hidden;
    /*background-color: #A82F2F;*/
    width: 1px;
    height: 1px;
    position: absolute;
}

.file_struct {
    display: flex;
    flex-direction: column;
}

.struct_header {
    outline: black solid 1px;
    background: white;
    padding: 4px 25px;
    margin-bottom: 10px;

    color: #6C6C6C;

    font-family: Segoe UI, serif;
    font-size: 14px;
    font-weight: 350;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}

.struct_block {
    /*box-shadow:*/
    /*        2px 0 0 0 #888,*/
    /*        0 2px 0 0 #888,*/
    /*        2px 2px 0 0 #888,   !* Just to fix the corner *!*/
    /*        2px 0 0 0 #888 inset,*/
    /*        0 2px 0 0 #888 inset;*/
    outline: black solid 1px;
    background: white;
    padding: 17px;

    font-family: Segoe UI, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.struct_block:hover {
    cursor: pointer;
}

.struct_input {
    border: none;
    background: none;
    pointer-events: none;
}

.struct_input:focus, .struct_input:active {
    border: none;
    outline: none;
}

.popup_trigger_invisible {
    visibility: hidden;
}

.popup_trigger {
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
}

.popup_trigger:hover {
    cursor: pointer;
}

.split_popup_trigger {
    margin-left: -120px;
    margin-top: -20px;
    background-color: lightgreen;
}

.merge_popup_trigger {
    margin-left: 150px;
    margin-top: -20px;
    background-color: lightblue;
}

.control_panel {

}

.control_panel_header {
    font-family: Segoe UI, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.015em;
    text-align: left;

    text-align: center;
}

.controls {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.control {
    display: flex;
    gap: 24px;
}

.control_button_connection {
    padding: 0;
    background: url("connection_light_bg.png");
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_connection:hover {
    padding: 0;
    background: url("connection_dark_bg.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
    cursor: pointer;
}

.control_button_connection_active {
    padding: 0;
    background: url("connection_dark_bg.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_connection_active:hover {
    cursor: pointer;
}

.control_button_split {
    padding: 0;
    background: url("split_light_bg.png");
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_split:hover {
    padding: 0;
    background: url("split_dark_bg.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
    cursor: pointer;
}

.control_button_split_active {
    padding: 0;
    background: url("split_dark_bg.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_split_active:hover {
    cursor: pointer;
}

.control_button_merge {
    padding: 0;
    background: url("merge_light_bg.png");
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_merge:hover {
    padding: 0;
    background: url("merge_dark_bg.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
    cursor: pointer;
}

.control_button_merge_active {
    padding: 0;
    background: url("merge_dark_bg.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_merge_active:hover {
    cursor: pointer;
}

.control_button_delete {
    padding: 0;
    background: url("delete.png");
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_delete:hover {
    padding: 0;
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
    cursor: pointer;
}

.control_button_delete_active {
    padding: 0;
    background: url("delete.png");
    box-shadow: 0 0 14px 12px #ccc;
    border: none;
    width: 81px;
    height: 81px;
}

.control_button_delete_active:hover {
    cursor: pointer;
}

.control_button_img {

}

.control_name {
    font-family: Segoe UI, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.015em;
}

.control_description {
    font-family: Segoe UI, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.015em;
    text-align: left;
}

.apply_button {
    width: 310px;
    height: 75px;
    background: #EF3124;
    border-radius: 12px;
    color: #FFFFFF;
    text-transform: uppercase;

    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.015em;

    margin-top: 125px;
    border: none;

    margin-left: 200px;
}

.apply_button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: #000000;
    transition-duration: 0.5s;
}